/*

!/.gitignore

!/.config
/.config/*

!/.config/dunst/
!/.config/lf/
!/.config/mailcaps/
!/.config/mpv/
/.config/mpv/watch_later/
!/.config/scron/
!/.config/youtube-dl/
!/.config/X11/
!/.config/zathura/

!/.config/newsboat/config

!/.config/zsh/
/.config/zsh/.zcompdump

!/.config/aliasrc
!/.config/bmdirs
!/.config/bmfiles
!/.config/emoji
!/.config/shortcutrc
!/.config/symbols.txt

!/.config/nvim/
/.config/nvim/plugged
/.config/nvim/autoload
/.config/nvim/.netrwhist

!/.local
/.local/*

!/.local/bin
/.local/bin/*
!/.local/bin/scripts
/.local/bin/scripts/private

!.zshenv
